# Track only application *.php and *.html (whitelist). Everything else is ignored.
*
!*/
!.gitignore
!**/*.php
!**/*.html

# Do not commit Composer dependencies (still lots of .php)
advanced/vendor/

# Typical Yii / tooling trees (even if they contain .php)
**/node_modules/
**/runtime/
**/.idea/
